
body {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.main {
  width: 1000px;
  height: 1000px;
  margin-left: 25%;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  margin-top: 50px;
  display: flex;

  width: 1000px;

  justify-content: space-between;
}
#inputt {
background-image: url("lupka.png");
background-position: 760px;
     background-size: 30px;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}
.item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.inputtt {
     background-size: 30px;
    background-repeat: no-repeat;
}

#nf2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: center;
align-items: center;
}
 .hidden {
            display: none;
        }
    
        #notfound {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            display: block;
        }
        #empty {
          font-weight: bold;
            margin-top: 5px;
           
            font-size: 20px;
            width: 100px;
        }






#button1 {
  background-color: rgb(59, 59, 231);
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  align-content: center;
  transition: 0.5s;
  font-size: 20px;
    border: none;
}
#button2 {
  /* background-image: url("moon.png"); */
      background-size: cover;
    background-repeat: no-repeat;
  background-color: rgb(59, 59, 231);
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
    border: none;
}
.button1:hover {
  background-color: rgb(59, 59, 231);
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  align-content: center;
  transform: scale(1.08);
  cursor: pointer;
  box-shadow: 4px 4px 14px rgb(208, 208, 255);
}
.button2:hover {
  background-color: rgb(59, 59, 231);
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 5px;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 4px 4px 14px rgb(208, 208, 255);
}






#inputt, #inputtt {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
body.dark-mode #inputt, 
body.dark-mode #inputtt {
    background-color: rgb(0, 0, 0); 
    color: white; 
}
body.dark-mode #inputt, 
body.dark-mode #inputtt {
    background-color: rgb(0, 0, 0); 
    color: white; 
}
.note {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  font-size: 22px;
  align-content: center;
  margin-left: 15%;
  height: 50px;
  width: 600px;
  font-weight: bold;
}
input[type="checkbox"] {
  transform: scale(2.5);
  accent-color:rgb(59, 59, 231);
 border: 2px solid rgb(59, 59, 231);
  background-color: transparent;
  margin-bottom: 25px;
   transition: 0.1s ease-out;
}

#selectall{
  display: flex;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: rgb(59, 59, 231);
  font-weight: bold;
}
label {
    transition: text-decoration 0.3s;
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888; 
    
  
    transition: 0.1s ease-out;
}
.cub {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: 0.3s;
}


#circle {
  background-image: url("plus.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 200px;
  margin-left: 800px;
  background-color: rgb(59, 59, 231);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  transition: 0.3s;
  border: none;
}
#circle:hover {
  background-color: rgb(59, 59, 231);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  transform: scale(1.05);
  cursor: pointer;

    border: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex; 
    justify-content: center;
    align-items: center;
}


#modalcontent {

    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: relative;

    transform: scale(0.9);
    transition: transform 0.3s ease-out;
}


.modal{
  display: none;
}
body.dark-mode {
    background-color: black;
    color: white;
}
.show {
    display: flex;
    transform: scale(1);
}

.dark {
  background-color: black;
}

.sun {
 background-image: url("sun.png");

}

.moon {
 background-image: url("moon.png");

}

.light{
  background-color: rgb(255, 255, 255);
}

.newnote {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
}

#buttons {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

#cancel, #apply {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  transition: 0.3s; 
  cursor: pointer;
}


#cancel {
  background-color: white;
  border: 2px solid rgb(59, 59, 231);
  color: rgb(59, 59, 231);
   transition: 0.3s
}


#apply {
  background-color: rgb(59, 59, 231);
  border: 2px solid rgb(59, 59, 231);
  color: rgb(255, 255, 255);
    transition: 0.3s
}


#cancel:hover {
  background-color: rgb(59, 59, 231);
  border: 2px solid rgb(59, 59, 231);
  color: rgb(253, 253, 253);
 transform: scale(1.06);
}


#apply:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(59, 59, 231);
  color:rgb(59, 59, 231);
  transform: scale(1.06);
}


body.dark-mode #cancel {
    background-color: rgb(0, 0, 0); 
    border: 2px solid white; 
    color: white; 
   
}


body.dark-mode #cancel:hover {
  background-color: rgb(59, 59, 231);
  border: 2px solid rgb(59, 59, 231);
    color: white; 
  
}

body.dark-mode #apply:hover {
    background-color: rgb(0, 0, 0); 
    border: 2px solid white; 
    color: white; 
  
}


